@page "/test-details/{courseId}"
<h3>TestDetails</h3>

@if (Questions != null)
{
    @foreach (var question in Questions)
    {
        <div>
            <h4>@question.Title</h4>
            <div class="form-check">

                <input class="form-check-input" type="radio" name="@question.Id" value=1 @onchange="e => SelectedAnswers[question.Id] = 1" />
                <label class="form-check-label">@question.Option1</label>

            </div>
            <div class="form-check">

                <input class="form-check-input" type="radio" name="@question.Id" value=2 @onchange="e => SelectedAnswers[question.Id] = 2" />
                <label class="form-check-label">@question.Option2</label>

            </div>
            <div class="form-check">

                <input class="form-check-input" type="radio" name="@question.Id" value=3 @onchange="e => SelectedAnswers[question.Id] = 3" />
                <label class="form-check-label">@question.Option3</label>

            </div>
        </div>
    }
    <button class="btn btn-primary" @onclick="SubmitAnswers" disabled="@(SelectedAnswers == null || SelectedAnswers == null || SelectedAnswers.Count != Questions.Length)">Submit</button>
    <ConfirmDialog @ref="dialog"  />
}
else
{
    <Spinner Color="SpinnerColor.Primary" />

}

@code {
    [Inject]
    private ApiService ApiService { get; set; }

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    [Parameter]
    public string CourseId { get; set; }

    private Question[] Questions { get; set; }
    private Dictionary<int, int> SelectedAnswers { get; set; }
    private ConfirmDialog dialog = default!;
    private ConfirmDialogOptions _options = new() { AutoFocusYesButton = false, NoButtonText = string.Empty, Dismissable = false, YesButtonText = "OK" };
    protected override async Task OnParametersSetAsync()
    {
        var questions = CourseId switch
        {
            Constants.ComprehensiveTestRoute => await ApiService.GetComprehensiveTestQuestionsAsync(),
            _ => await ApiService.GetTestQuestionsAsync(int.Parse(CourseId))
        };
        Questions = questions?.ToArray() ?? Array.Empty<Question>();
        SelectedAnswers = new Dictionary<int, int>();
        await base.OnParametersSetAsync();
    }

    private async Task SubmitAnswers()
    {

        // Check if the user has selected an answer for each question
        if (SelectedAnswers.Count != Questions.Length) return;

        var submittedDate = DateTime.Now;
        var answers = SelectedAnswers.Select(kvp => new Answer
            {
                QuestionId = kvp.Key,
                CorrectOption = Questions.First(q => q.Id == kvp.Key).CorrectOption,
                SelectedOption = kvp.Value,
                SubmittedAt = submittedDate
            }).ToArray();
        var correctPercentage = answers.Count(a => a.CorrectOption == a.SelectedOption) / (double) Questions.Length * 100;

        var isAuthenticated = await authenticationState.IsAuthenticatedAsync();
        if (isAuthenticated)
        {
            await ApiService.SubmitAnswersAsync(answers);
        }

        var confirmation = await dialog.ShowAsync(
            title: "Test Results",
            message1: $"You scored {(int)correctPercentage} %",
            message2: !isAuthenticated ? "Answers were not submitted because you are not authenticated" : string.Empty,
            confirmDialogOptions: _options);
        
        NavigationManager.NavigateTo("/tests");
    }
}

